[submodule "boringssl"]
        path = boringssl
        url = https://github.com/google/boringssl
[submodule "lsquic"]
        path = lsquic
;         url = https://github.com/litespeedtech/lsquic.git
        url = https://github.com/dtikhonov/lsquic
            branch = 202002141134-tutorial-mods
[submodule "libev"]
        path = libev
        url = https://github.com/enki/libev.git
